.container {
    background: #333;
    display: inline-block;
}

.container div {
    width: 100%;
    text-align: center;
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.container div:hover {
    background: #555;
}

@media (min-width: 768px) {
    .container {
        display: flex;
    }
}