.flex-container {
    width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container div {
    border: black 1px solid;
    padding: 2px;
    width: 15px;


    
}

.color-green {
    background: green;
}

.color-yellow {
    background: yellow;
}

.color-blue {
    background: skyblue;
}