.menu-container {
    background: #333;
    display: inline-block;
}

.menu-container div {
    width: 100%;
    text-align: center;
}
.page-container {
    display: inline-block;
}

.page-container aside, article {
    width: 100%;
    text-align: center;
}


a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu-container div:hover {
    background: #555;
}

@media (min-width: 768px) {
    .menu-container {
        display: flex;
    }
    .page-container {
        display: flex;
    }
    .page-container aside {
        width: 30%;
    }
    .page-container article {
        width: 70%;
    }
}

aside {
    background: salmon;
}

article {
    background: skyblue;
}
